body {
	margin: 0px;
	font: 15px arial, sans-serif;
	color: #616161;
}

html, body {
	height: 90%
}

div#header {
	width: 100%;
	background-color: #F57C00;
	padding-top: 10px;
	font: 30px arial, sans-serif;
	font-weight: bold;
}

div#logo {
	color: #FFF3E0;
	padding-left: 10px;
	padding-bottom: 10px;
}

div#main {
	width: 100%;
	height: 100%;
	margin-top: 30px;
	box-shadow: 0px 2px #EEEEEE;
}

div#footer {
	width: 100%;
	clear: both;
	text-align: center;
	font: 12px arial, sans-serif;
	color: #9E9E9E;
	padding-top: 20px;
}

div#content{
	float: left;
	width: 60%;
}

div#logList {
	width: 90%;
	margin: auto;
}

div#rightbar {
	float: right;
	width: 40%;
}

div#addLog {
	width: 90%;
	margin: auto;
}

div#header, table, input#log-add {
	box-shadow: 2px 2px #EEEEEE;
}

table {
	border-collapse: collapse;
}

table, th, td {
	border: 1px solid #E0E0E0;
	border-collapse: collapse;
}

tr.caption td{
	background-color: #EEEEEE;
	border: 1px solid #EEEEEE;
	font: 14px arial, sans-serif;
	color: #9E9E9E;
	font-weight: bold;
}

td {
	padding: 5px;
}

td.tdDesc {
	width: 60%;
}

td.tdDuration {
	width: 15%;
}

td.tdTimestamp {
	width: 25%;
}

div.areaTitle {
	font: 18px arial, sans-serif;
	font-weight: bold;
}

ul.pagination li {
	display: inline;
	list-style-type: none;
	padding-right: 20px;
}

input#desc {
	width: 250px;
}

input#duration {
	width: 100px;
}

input.formText {
	margin-bottom: 5px;
}

input#log-add {
	margin-top: 5px;
}

a:link {
    color: #424242;
}

a:visited {
    color: #757575;
}

a:hover {
    color: #F57C00;
}

a:active {
    color: #F57C00;
}

span.comment {
	color: #9E9E9E;
	font-style: italic;
}

div.error {
	color: #F57C00;
}

fieldset {
	display: block;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-before: 0px;
    -webkit-padding-start: 0px;
    -webkit-padding-end: 0px;
    -webkit-padding-after: 0px;
    border: 0px;
}